$color-primary: #372e2d;
$color-text: #372e2dc5;
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-background: #dadcd0;
$color-box-background: mix($color-primary, #dadcd0, 6%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  :root {
    line-height: 1;
    font-size: calc(0.9em + 0.5vw);
    letter-spacing: -0.015em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

body {
  background-color:$color-background;
  box-sizing: content-box;
  color: $color-text;
  font-family: $font-family;
  line-height: 1.4; 
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vh;
  max-width: 88vh;
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  pointer-events: none;
  display: block;
  //margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1em 0;
  background: $color-border;
}

h1
{font-size: 2rem;
line-height: 1.618rem;
color: $color-primary}
h2 {
  line-height: 0.2rem;
  font-size: 1.618rem ;
  color: $color-primary;
}
h3{
  line-height: 0.1rem;
  font-size: 1.3rem;
  color:#315b7b;
}
h4,
h5,
h6{
  font-size: 1rem;

  color: $color-text;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: #315b7b !important;
    //background: #b7b183;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}


nav {
  margin-bottom: 0.0sem 0 0;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: $color-background;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}
